<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta property="og:title" content="<%= assigns[:meta_title] || "CableClub" %>" />
    <meta property="og:description" content="<%= assigns[:meta_description] || "Trade and battle on real Hardware" %>" />
    <%= if assigns[:meta_image] do %>
      <meta property="og:image" content="<%= assigns[:meta_image] %>" />
      <meta property="og:image:type" content="<%= assigns[:meta_image_type] || "image/png" %>" />
    <% end %>

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:meta_title] || assigns[:page_title] || "CableClub" %>

    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/languages/c.min.js"></script>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/rgbasm.js") %>"></script>
  </head>

  <body class="bg-purple-900">
    <%= @inner_content %>
  </body>

  <script>
    hljs.configure({languages: []})
    hljs.highlightAll();
  </script>
</html>
